:host {
    
    & > .title {
        & > h1 {
            color: var(--uca_green);
            text-align: center;
        }
        & > h2 {
            color: var(--uca_green);
            text-align: center;
            font-style: italic;
            margin-top: 0;
        }
    }

    & .date {
        font-size: small;
        font-style: italic;
    }

    & > div {
        text-align: center;
        color: var(--uca_gray);

        & > .mail {
            font-style: italic;
        }
    }
}