:host {
    --uca_green: #95c11f;
    --uca_gray : #5e5c5c;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width : 100%;
    background-size: cover;
}