:root {
    /*size: A5 landscape;*/
    /*  148mm x 210mm */
    /* size: 595px 420px // A5 landscape */
    --slide_height: 420px;
    --slide_width: calc( var(--slide_height) * 16 / 9 );
    --webslide_background: none;
}

.hidden {
    display: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

body {
    counter-reset: page_id;
}

u {
    text-decoration: underline 1px solid light-dark(black, white);
}

main .ws-frame {
    position: relative;
}
main .ws-frame::after {
    position: absolute;
    bottom: 0;
    right: 5px;
    counter-increment: page_id;
    content: counter(page_id);
}


body {
    margin: 0;
    padding: 0;
    print-color-adjust:exact;
    background-color: light-dark(#AAA, #111);
    position: relative;
}

body.overview .menu_area {
    display: none;

}
body.overview main {
    display: grid;
    grid-template-columns: repeat( var(--nb_frame) , calc(100vw/ var(--nb_frame ) ) );
    grid-auto-rows: calc(100vw / var(--nb_frame ) * 9 / 16 );
    gap: 0px;

    top: 0px;
    width: 100vw;
    height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;

    & .ws-frame {
        transform-origin: top left;
        transform: scale( calc( var(--scale) / var(--nb_frame) ) );
    }

    & frame-section, frame-subsection, frame-subsubsection {
        display: contents;
    }
}

body:not(.overview) main {

    overflow: hidden;
    /*overflow: hidden;*/
    width: var(--slide_width);
    top: 0;

}

main {
    
    position: absolute;

    & .ws-frame {
        width: var(--slide_width);
        height: var(--slide_height);
        overflow-y: scroll;
        /*background-color: blue;*/
        /*border: 1px solid black; /* red */
        box-sizing: border-box;

        &::before {

            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top : 0;

            background-image: url('/assets/img/uca/background.png');
            background-size: cover;

            z-index: -1;
        }

        :root.dark-mode &::before {

            filter: invert(100%) hue-rotate(180deg);
        }
    }
}

@media screen {
    body {
        overflow: hidden;

        position: relative;
        height: 100vh;
    }
    
    body:not(.overview) main {
        
        scale : var(--scale);
        height: var(--slide_height);

        position: absolute;

        right : 0;
        bottom: 0;

        top : 50%;
        left: 50%;

        transform-origin: top left;
        transform: translate(-50%, -50%);
        /* --slide_width */
    }
}
@media print {
    main > section {
        border: 1px solid white;
    }
}
@page {
    size: 747px 420px;
}

p {
    margin: 0;
}

ul + p {
    margin-top: 2rem;
}

li > ul {
    margin-top: 0;
}

ol {
    margin: 0em 10px;
    padding: 0 1em;
}

ul {
    margin: 0em 10px;
    padding: 0 1em;
    list-style: "▶ ";

    * + & {
        margin-top: 4px;
    }

    & > li::marker {
        color: blue;
        font-size: 0.8em;
    }

    /*
    & > li::before { 
        content: "";
        border-color: transparent blue;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.45em;
        display: block;
        height: 0;
        width: 0;
        left: -1em;
        top: 0.9em;
        position: relative;
    }*/
}

@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/assets/font/cmunss.eot');
	src: url('/assets/font/cmunss.eot?#iefix') format('embedded-opentype'),
		 url('/assets/font/cmunss.woff') format('woff'),
		 url('/assets/font/cmunss.ttf') format('truetype'),
		 url('/assets/font/cmunss.svg#cmunss') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/assets/font/cmunsx.eot');
	src: url('/assets/font/cmunsx.eot?#iefix') format('embedded-opentype'),
		 url('/assets/font/cmunsx.woff') format('woff'),
		 url('/assets/font/cmunsx.ttf') format('truetype'),
		 url('/assets/font/cmunsx.svg#cmunsx') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/assets/font/cmunsi.eot');
	src: url('/assets/font/cmunsi.eot?#iefix') format('embedded-opentype'),
		 url('/assets/font/cmunsi.woff') format('woff'),
		 url('/assets/font/cmunsi.ttf') format('truetype'),
		 url('/assets/font/cmunsi.svg#cmunsi') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Sans';
	src: url('/assets/font/cmunso.eot');
	src: url('/assets/font/cmunso.eot?#iefix') format('embedded-opentype'),
		 url('/assets/font/cmunso.woff') format('woff'),
		 url('/assets/font/cmunso.ttf') format('truetype'),
		 url('/assets/font/cmunso.svg#cmunso') format('svg');
	font-weight: bold;
	font-style: italic;
}

main {
    font-family: "Computer Modern Sans", sans-serif;
}

.overlay {
    display: inline-grid;
    grid: 1 1;

    & > * {
        grid-area: 1 / 1;
    }
}

.invisible {
    visibility: hidden;
}