:host {
    justify-content: space-between;

    padding-left: 10px;
    padding-right: 10px;

    & > .header {
        & > h2 {
            margin-top: 8px;
            font-weight: normal;
            color: var(--uca_green);
            margin-bottom: 0px;
            font-size: 1em;
        }

        & > h3 {
            margin-top: 2px;
            margin-bottom: 0px; /* because flex spacing */
            font-weight: normal;
            font-style: italic;
            font-size: 0.75em;
            color: var(--uca_gray);

            & .subsubtitle:not(:empty) {
                &::before {
                    content: "("
                }
                &::after {
                    content: ")"
                }
            }
        }
    }
}